<div class="container">
  <div>
    <h2>總金額:{{totalAmount}}元</h2>
  </div>
  <table class="table  table-hover">
    <tbody>
      {{#each records}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{{this.category}}}</td>
        <td>{{this.amount}}元</td>
        <td>{{this.date}}</td>
        <td><button type="button" class="btn "><a href="./records/{{this._id}}/edit">修改</a></button></td>
        <td>
          <form action="./records/{{ this._id }}/delete" method="POST" style="display: inline;"><button type="submit"
              class="btn ">刪除</button>
        </td>
      </tr>
      <form>
        </tr>
    </tbody>
    {{/each}}
  </table>
  <div class="row justify-content-center mr-4 mt-4 mb-4">
    <button type="button" class="btn btn-outline-primary"><a href="./records/new">新增支出</a></button>
  </div>
</div>
</div>