<div class="container">
  <form action="/category" method="POST">
    <div class="row mt-3 justify-content-center">
      <div class="col-12">
        <div class="form-group">
          <label class="ml-2" for="exampleFormControlInput1" style="font-size: 1.5rem;">支出類型</label>
          <select class="form-control" id="exampleFormControlSelect1" name="categorySelect" onchange="submit()">
            <option disabled selected>{{categoryInChineseSelected}}</option>
            <option value='ALL'>所有支出</i> </option>
            <option value='<i class="fas fa-home"></i>'>家居物業</i> </option>
            <option value='<i class="fas fa-shuttle-van"></i>'>交通出行</option>
            <option value='<i class="fas fa-grin-beam"></i>'>休閒娛樂</option>
            <option value='<i class="fas fa-utensils"></i>'>餐飲食品</option>
            <option value='<i class="fas fa-pen"></i>'>其他</option>
          </select>
        </div>
      </div>
    </div>
  </form>
  <form action="/month" method="POST">
    <div class="form-group">
      <label class="ml-2" for="exampleFormControlInput1" style="font-size: 1.5rem;">月份</label>
      <input class="form-control ml-3" type="month" name="month" id="month" value="{{{monthSelected}}}"
        onchange="this.form.submit()"></input>
    </div>
  </form>
  <div>
    <h2>總金額:{{totalAmount}}元</h2>
  </div>
  <table class="table  table-hover">
    <tbody>
      {{#each records}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.merchant}}</td>
        <td>{{{this.category}}}</td>
        <td>{{this.amount}}元</td>
        <td>{{this.date}}</td>
        <td><button type="button" class="btn "><a href="./records/{{this._id}}/edit">修改</a></button></td>
        <td>
          <form action="./records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;"><button
              type="submit" class="btn ">刪除</button></form>
        </td>
    </tbody>
    {{/each}}
  </table>
  <div class="row justify-content-center mr-4 mt-4 mb-4">
    <button type="button" class="btn btn-outline-primary"><a href="./records/new">新增支出</a></button>
  </div>
</div>
</div>